:root {
  --color1: #1a3e5d;
  --color2: #4b8da8;
  --color3: #a3d6d9;
  --color4: #e1f6f4;
  --color5: #f9f9f9;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "karla", sans-serif;
}

header {
  background-color: var(--color1);
  position: sticky;
  top: 0;
  z-index: 100;
}

main {
  /* flex: 1; */
  background-color: var(--color5);
  color: var(--color1);
  font-size: 1.3vw;
  padding: 1vw;
}

footer {
  background-color: var(--color1);
  color: var(--color4);
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  padding: 1vw;
}

footer :first-child {
  align-self: center;
  width: 3vw;
}

.imageTextBlock {
  background-color: var(--color3);
  display: flex;
  font-family: "zen old mincho", serif;
  margin: 1vw 0;
}

.imageTextBlock > * {
  align-self: center;
  width: 45vw;
  padding: 1vw;
}

.navbar {
  color: var(--color4);
}

.navbar h2 {
  padding-left: 25px;
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar a {
  text-decoration: none;
  border: 1px solid black;
  background-color: var(--color2);
  color: var(--color5);
  padding: 5px;
  display: block;
}

.navbar a:hover {
  background-color: var(--color4);
  color: var(--color1);
}

.navbar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

/* separate settings for mobile */
@media screen and (width < 600px), screen and (orientation: portrait) {
  main {
    font-size: 2vw;
  }

  .imageTextBlock {
    display: grid;
    justify-items: center;
  }

  .imageTextBlock > * {
    width: 98%;
  }
}
